/* Style reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
a{
	text-decoration: none;
	color: black;
}
button, input:focus{
	outline: none;
}
*{
	font-family: Arial;
}
/* ---------------------------- */

.cover{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.input-container{
	position: absolute;
	left: 20%;
	top: calc( 50% - 25px );
	width: 60%;
	height: 50px;
	border-radius: 5px;
	box-shadow: 0px 3px 10px #aaa;
	overflow: hidden;
	-webkit-transition-duration: 0.5s; /* Chrome y Safari */
	-moz-transition-duration: 0.5s; /* Firefox */
	-o-transition-duration: 0.5s; /* Opera */
	-ms-transition-duration: 0.5s; /* Internet Explorer */
}

.search-input{
	position: absolute;
	left: 150px;
	width: calc( 100% - 250px );
	height: 100%;
	border: none;
	background-color: #eee;
	padding-left: 20px;
	font-size: 17px;
}

.search-type-button{
	position: absolute;
	left: 0;
	width: 150px;
	height: 100%;
	border: none;
	background-color: #1a1a1a;
	font-size: 17px;
	color: #eee;
	cursor: pointer;
	opacity: 0.95;
}
.search-type-button:hover{
	opacity: 1;
}

.search-action-button{
	cursor: pointer;
	position: absolute;
	right: 0;
	width: 100px;
	height: 100%;
	border: none;
	background-color: #1a1a1a;
	font-size: 17px;
	color: #eee;
	float: right;	
	opacity: 0.95;
}
.search-action-button:hover{
	opacity: 1;
}

.results-container{
	position: absolute;
	left: 20%;
	top: 90px;
	width: 60%;
	height: calc( 100% - 160px );
	overflow: auto;
	-webkit-transition-duration: 1s; /* Chrome y Safari */
	-moz-transition-duration: 1s; /* Firefox */
	-o-transition-duration: 1s; /* Opera */
	-ms-transition-duration: 1s; /* Internet Explorer */
}
.results-container .result{
	width: 100%;
	height: 80px;
	margin-bottom: 20px;
}
.results-container .result h4{
	width: 70%;
	padding-bottom: 5px;
	border-bottom: 1px solid #aaa;
	font-size: 16px;
	font-weight: normal;
}
.results-container .result p{
	margin: 10px 0px 0px 30px;
	opacity: 0.8;
}
.results-container .result span{
	float: right;
	opacity: 0.5;
	margin-right: 30px;
}

.search-by-date-checkbox{
	position: absolute;
	right: 10px;
	bottom: 10px;
	opacity: 0.7;
	font-size: 15px;
}

.pages-container{
	position: absolute;
	left: calc( 50% - 200px );
	bottom: 20px;
	width: 400px;
	height: 30px;
	text-align: center;
	-webkit-transition-duration: 0.3s; /* Chrome y Safari */
	-moz-transition-duration: 0.3s; /* Firefox */
	-o-transition-duration: 0.3s; /* Opera */
	-ms-transition-duration: 0.3s; /* Internet Explorer */
}
.pages-container button{
	border: none;
	height: 100%;
	background: none;
	margin: 0px 5px 0px 5px;
	cursor: pointer;
}

.search-date-filter{
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.swtich-results{
	position: absolute;
	right: 10px;
	top: 10px;
	opacity: 0.7;
	font-size: 15px;
}

.words-results-container{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.words-results-container span{
	position: absolute;
	-webkit-transition-duration: 0.3s; /* Chrome y Safari */
	-moz-transition-duration: 0.3s; /* Firefox */
	-o-transition-duration: 0.3s; /* Opera */
	-ms-transition-duration: 0.3s; /* Internet Explorer */
}