<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}
<html ng-app="app">
<head lang="en">

	<meta charset="UTF-8">
	<title>Sasha Search</title>
	{% compress css %}
	<!-- Here style files -->
	<link rel="stylesheet" href='{% static "app/css/main.css" %}'>
	{% endcompress %}
	{% compress js %}
	<script src='{% static "libs/js/angular.min.js" %}' type="text/javascript"></script>
	<script src='{% static "app/js/main.js" %}' type="text/javascript"></script>
	{% endcompress %}

</head>
<body ng-controller="ui">
{% verbatim %}

	<div ng-click="hideSearchResults()" class="cover"></div>

	<div class="swtich-results">
		Noticias<input value="rt1" name="results-type" type="radio" ng-model="rType">
		Relacionados<input value="rt2" name="results-type" type="radio" ng-model="rType" checked>		
	</div>

    <!-- Pages container and date filter-->
	    <div ng-switch="rType">
	    	<div ng-switch-when="rt1">
				<p class="search-by-date-checkbox">Buscar por fecha <input type="checkbox" ng-model="searchByDate"></p>
			    <p class="search-date-filter" >
			        <span>Desde:</span>
			        <input type="date" ng-model="fromDate">
			        <span>Hasta:</span>
			        <input type="date" ng-model="toDate">
			    </p>
				<div class="pages-container" style="{{searchActive||'opacity:0;'}}">
					<button ng-repeat="page in [0,1,2,3,4,5,6,7,8,9]" style="{{ !(page==currentPage) || 'background:#ccc;' }}" ng-click="changePage(page)">{{page+1}}</button>
				</div>
	    	</div>
		</div>

	<div class="results-container" style="{{searchActive||'opacity:0;'}}">
		<div ng-switch="rType">
			<!-- Results 1 -->
			<div ng-switch-when="rt1">
				<div class="result" ng-repeat="result in results">
					<a ng-href="{{result.url}}" target="_blank">
					<h4>{{result.title}}</h4>
					<p>{{result.text}}</p>
					<span>{{result.date|formatDate}}</span>
					</a>
				</div>
			</div>
			<!-- Results 2 -->
			<div ng-switch-when="rt2">
				<div class="words-results-container">
					<span
						ng-repeat="r in results"
						style="
							font-size : {{ r.fSize }}px;
							opacity : {{ r.rank }};
							left: {{ r.lPosition }}px;
							top: {{ r.tPosition }}px;
						"
						ng-click="onClickWordEvent(r.word);"
					>
						{{ r.word }}
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="input-container" style="{{!searchActive||'left:0;top:0;width:100%;border-radius:0px;height:60'}}">
		<input class="search-input" type="text" placeholder="Filtro de busqueda" ng-model="query">
		<button class="search-type-button">Sasha</button>
		<button class="search-action-button" ng-click="search()">
			<img src="static/app/img/search-icon.png" style="width:30px;opacity:0.8;">
		</button>
	</div>

{% endverbatim %}
</body>
</html>
